#footer-widget {
  margin: 0 auto 0 auto;
  padding-top: 80px;
  background-color: #ffffff;
}
@media screen and (min-width: 1024px) {
  #footer-widget {
    width: 1014px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #footer-widget {
    width: 90%;
  }
}
@media screen and (min-width: 769px) {
  #footer-widget {
    width: 100%;
  }
}
#footer-widget .widget-area {
  display: inline-block;
  float: left;
  margin-left: 4.1%;
}
@media screen and (min-width: 769px) {
  #footer-widget .widget-area {
    width: 42.5%;
  }
}
@media screen and (max-width: 768px) {
  #footer-widget .widget-area {
    width: 90%;
  }
}
#footer-widget .widget-area:first-child {
  margin-right: 2%;
}
#footer-widget .widget-area .widget-wrapper {
  position: relative;
}
#footer-widget .widget-area .widget-wrapper .widget-title {
  font-family: "CondensedCopy";
  color: #000000;
}
@media screen and (min-width: 1024px) {
  #footer-widget .widget-area .widget-wrapper .widget-title h5 {
    font-size: 35px;
  }
}
@media screen and (max-width: 1023px) {
  #footer-widget .widget-area .widget-wrapper .widget-title h5 {
    font-size: 28px;
  }
}
#footer-widget .widget-area .widget-wrapper .upw-more {
  right: 0%;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  #footer-widget .widget-area .widget-wrapper .upw-more {
    top: 12px;
  }
}
@media screen and (max-width: 1023px) {
  #footer-widget .widget-area .widget-wrapper .upw-more {
    top: 8px;
  }
}
#footer-widget .widget-area .widget-wrapper .upw-more a, #footer-widget .widget-area .widget-wrapper .upw-more a:hover, #footer-widget .widget-area .widget-wrapper .upw-more a:visited, #footer-widget .widget-area .widget-wrapper .upw-more a:link {
  font-family: "BodyCopy";
  color: #b80221;
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  #footer-widget .widget-area .widget-wrapper .upw-more a, #footer-widget .widget-area .widget-wrapper .upw-more a:hover, #footer-widget .widget-area .widget-wrapper .upw-more a:visited, #footer-widget .widget-area .widget-wrapper .upw-more a:link {
    font-size: 15px;
  }
}
@media screen and (max-width: 1023px) {
  #footer-widget .widget-area .widget-wrapper .upw-more a, #footer-widget .widget-area .widget-wrapper .upw-more a:hover, #footer-widget .widget-area .widget-wrapper .upw-more a:visited, #footer-widget .widget-area .widget-wrapper .upw-more a:link {
    font-size: 13px;
  }
}
#footer-widget .widget-area .widget-wrapper ul {
  width: 100%;
  border-top: solid 1px #cecece;
}
@media screen and (min-width: 1024px) {
  #footer-widget .widget-area .widget-wrapper ul {
    margin-top: 32px;
    padding-bottom: 72px;
  }
}
@media screen and (max-width: 1023px) {
  #footer-widget .widget-area .widget-wrapper ul {
    margin-top: 24px;
    padding-bottom: 64px;
  }
}
#footer-widget .widget-area .widget-wrapper ul li {
  width: 100%;
  margin-top: 42px;
  padding-bottom: 18px;
}
#footer-widget .widget-area .widget-wrapper ul li .upw-content {
  line-height: 160%;
  font-size: 15px;
  font-family: "BodyCopy";
}
#footer-widget .widget-area .widget-wrapper ul li .upw-content .post-title a, #footer-widget .widget-area .widget-wrapper ul li .upw-content .post-title a:hover, #footer-widget .widget-area .widget-wrapper ul li .upw-content .post-title a:link, #footer-widget .widget-area .widget-wrapper ul li .upw-content .post-title a:visited {
  font-family: "BoldHeadline";
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
#footer-widget .widget-area .widget-wrapper ul li .upw-content .post-excerpt a, #footer-widget .widget-area .widget-wrapper ul li .upw-content .post-excerpt a:hover, #footer-widget .widget-area .widget-wrapper ul li .upw-content .post-excerpt a:link, #footer-widget .widget-area .widget-wrapper ul li .upw-content .post-excerpt a:visited {
  color: #202b75;
  font-family: "BoldHeadline";
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

#footer {
  width: 100%;
  max-width: 1125px;
  margin: 0 auto 0 auto;
  background-color: #252523;
  padding-bottom: 73px;
}
#footer #sitemap {
  width: 90%;
  margin: 0 auto 0 auto;
  padding-top: 83px;
  margin-bottom: 40px;
}
@media screen and (min-width: 769px) {
  #footer #sitemap {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
    height: 300px;
    text-align: left;
    padding-left: 8%;
  }
}
@media screen and (max-width: 768px) {
  #footer #sitemap {
    -webkit-column-count: 0;
    -moz-column-count: 0;
    -ms-column-count: 0;
    -o-column-count: 0;
    column-count: 0;
    height: auto;
    text-align: center;
    padding-left: 0%;
  }
}
#footer #sitemap #menu-footer-navigation-menu li a, #footer #sitemap #menu-footer-navigation-menu li a:hover, #footer #sitemap #menu-footer-navigation-menu li a:visited, #footer #sitemap #menu-footer-navigation-menu li a:link {
  font-family: "CondensedCopy";
  color: #e1ff00;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  #footer #sitemap #menu-footer-navigation-menu li a, #footer #sitemap #menu-footer-navigation-menu li a:hover, #footer #sitemap #menu-footer-navigation-menu li a:visited, #footer #sitemap #menu-footer-navigation-menu li a:link {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #footer #sitemap #menu-footer-navigation-menu li a, #footer #sitemap #menu-footer-navigation-menu li a:hover, #footer #sitemap #menu-footer-navigation-menu li a:visited, #footer #sitemap #menu-footer-navigation-menu li a:link {
    font-size: 13px;
  }
}
@media screen and (min-width: 1024px) {
  #footer #sitemap #menu-footer-navigation-menu li {
    padding-top: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #footer #sitemap #menu-footer-navigation-menu li {
    padding-top: 1px;
  }
}
@media screen and (min-width: 769px) {
  #footer #sitemap #menu-footer-navigation-menu li:nth-child(1) {
    padding-bottom: 20px;
  }
  #footer #sitemap #menu-footer-navigation-menu li:nth-child(4) {
    padding-bottom: 55px;
  }
}
@media screen and (max-width: 768px) {
  #footer #sitemap #menu-footer-navigation-menu li:nth-child(1) {
    padding-bottom: 0px;
  }
  #footer #sitemap #menu-footer-navigation-menu li:nth-child(4) {
    padding-bottom: 0px;
  }
}
#footer #sitemap #menu-footer-navigation-menu li a.main-cat {
  display: block;
  padding-bottom: 32px;
}
#footer #sitemap #menu-footer-navigation-menu li .sub-menu {
  padding-bottom: 20px;
}
#footer #sitemap #menu-footer-navigation-menu li .sub-menu li {
  width: 80%;
  padding-bottom: 9px;
}
#footer #sitemap #menu-footer-navigation-menu li .sub-menu li a, #footer #sitemap #menu-footer-navigation-menu li .sub-menu li a:hover, #footer #sitemap #menu-footer-navigation-menu li .sub-menu li a:visited, #footer #sitemap #menu-footer-navigation-menu li .sub-menu li a:link {
  color: #ffffff;
}
@media screen and (min-width: 769px) {
  #footer #sitemap #menu-footer-navigation-menu li .sub-menu li {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  #footer #sitemap #menu-footer-navigation-menu li .sub-menu li {
    width: 100%;
  }
}
#footer .cnss-social-icon {
  margin: 0 auto 0 auto !important;
}
#footer .cnss-social-icon tbody tr td {
  padding-left: 26px !important;
}
