#header {
  background-color: white;
  padding-top: 42px;
}
#header #slogan {
  color: #1d2875;
  font-family: "BoldCopy";
}
#header #logo {
  background-image: url('../images/datatrak-logo.svg?1399923446');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
#header #contact-btn a, #header #contact-btn a:hover, #header #contact-btn a:active, #header #contact-btn a:link, #header #contact-btn a:visited {
  color: #ffffff;
  font-family: "BodyCopy";
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
#header #contact-btn div {
  background-image: url('../images/contact-btn.png?1400031825');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#header #searchform input {
  display: inline;
  float: left;
}
#header #searchform input#s {
  border: none;
  background-color: #eeeeee;
  -webkit-box-shadow: #e2e2e2 0 2px 0 0 inset;
  -moz-box-shadow: #e2e2e2 0 2px 0 0 inset;
  box-shadow: #e2e2e2 0 2px 0 0 inset;
  color: #000000;
  font-family: "BodyCopy";
  outline: 0;
}
#header #searchform input#searchsubmit {
  border: 0px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: none;
  background-image: url('../images/search-submit-btn.png?1400030783');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  outline: 0;
}

#subheader {
  width: 100%;
  background-image: url('../images/sub-page-header.png?1400304388');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-main {
  background-color: #fdfdfd;
  width: 100%;
  height: 70px;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: #e2e2e2 0px 4px 4px -2px;
  -moz-box-shadow: #e2e2e2 0px 4px 4px -2px;
  box-shadow: #e2e2e2 0px 4px 4px -2px;
}
.menu-main #menu-default-navigation-menu {
  width: 100%;
}
.menu-main #menu-default-navigation-menu li {
  float: left;
  height: 35px;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 14px;
  letter-spacing: 1px;
  padding-top: 21px;
}
.menu-main #menu-default-navigation-menu li a, .menu-main #menu-default-navigation-menu li a:visited, .menu-main #menu-default-navigation-menu li a:link, .menu-main #menu-default-navigation-menu li a:active {
  color: #365064;
  font-family: "CondensedCopy";
  text-decoration: none;
  text-transform: uppercase;
}
.menu-main #menu-default-navigation-menu li.active {
  background-color: #d22448;
}
.menu-main #menu-default-navigation-menu li.active a {
  color: white;
}
.menu-main #menu-default-navigation-menu li .active-arrow {
  padding-top: 12px;
  margin-top: 19px;
  width: 100%;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 45% bottom;
  background-color: none;
  background-image: url('../images/menu-active-section-arrow.png?1400113322');
  display: none;
}
.menu-main #menu-default-navigation-menu li.hover {
  background-color: #d22448;
}
.menu-main #menu-default-navigation-menu li.hover a {
  color: white;
}
.menu-main #menu-default-navigation-menu li.hover .active-arrow {
  display: block;
}
.menu-main .menu-sub {
  width: 98%;
  margin: 20px 1% 0 1%;
}
.menu-main .menu-sub ul {
  position: relative;
}
.menu-main .menu-sub ul li.primary {
  display: none;
  background-color: white;
  -webkit-box-shadow: #e2e2e2 0px 10px 10px -5px;
  -moz-box-shadow: #e2e2e2 0px 10px 10px -5px;
  box-shadow: #e2e2e2 0px 10px 10px -5px;
  width: 100%;
  min-height: 225px;
  position: absolute;
  top: 12px;
  left: 0px;
  padding-top: 20px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: none;
  background-image: url('../images/sub-menu-bg.png?1400297402');
}
.menu-main .menu-sub ul li.primary a, .menu-main .menu-sub ul li.primary a:visited, .menu-main .menu-sub ul li.primary a:hover, .menu-main .menu-sub ul li.primary a:link {
  padding-left: 3.5%;
  color: #365064;
  font-family: "BoldCopy";
  text-decoration: none;
  text-transform: uppercase;
}
.menu-main .menu-sub ul li.primary ul {
  width: 100%;
  border-top: solid 1px #c0c0c0;
  margin-top: 21px;
}
.menu-main .menu-sub ul li.primary li.secondary {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  padding-top: 31px;
  margin-left: 3.5%;
  padding-bottom: 18px;
}
.menu-main .menu-sub ul li.primary li.secondary:last-child {
  padding-right: 20%;
}
.menu-main .menu-sub ul li.primary li.secondary a, .menu-main .menu-sub ul li.primary li.secondary a:visited, .menu-main .menu-sub ul li.primary li.secondary a:hover, .menu-main .menu-sub ul li.primary li.secondary a:link {
  color: #d22448;
  font-family: "BoldCopy";
  text-decoration: none;
  display: block;
  padding-left: 0;
}
.menu-main .menu-sub ul li.primary li.secondary a .title, .menu-main .menu-sub ul li.primary li.secondary a:visited .title, .menu-main .menu-sub ul li.primary li.secondary a:hover .title, .menu-main .menu-sub ul li.primary li.secondary a:link .title {
  display: block;
  border-left: solid 3px #d22448;
  padding-left: 7px;
}
.menu-main .menu-sub ul li.primary li.secondary a .sub, .menu-main .menu-sub ul li.primary li.secondary a:visited .sub, .menu-main .menu-sub ul li.primary li.secondary a:hover .sub, .menu-main .menu-sub ul li.primary li.secondary a:link .sub {
  font-family: "BodyCopy";
  color: #212662;
  text-transform: none;
  padding-top: 23px;
  display: block;
}
.menu-main .menu-sub ul li.primary.open {
  display: block;
}

.menu-mobile {
  width: 100%;
  text-align: center;
  border-top: 1px solid #e3e3e3;
}
.menu-mobile a, .menu-mobile a:hover, .menu-mobile a:visited, .menu-mobile a:link {
  color: #212662;
  text-decoration: none;
  font-family: "BoldCopy";
  font-size: 16px;
}
@media screen and (min-width: 769px) {
  .menu-mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .menu-mobile {
    display: block;
  }
}
.menu-mobile ul, .menu-mobile ul li {
  width: 100%;
}
.menu-mobile ul li .primary-button {
  width: 100%;
  background-color: #fdfdfd;
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #e3e3e3;
  position: relative;
}
.menu-mobile ul li .primary-button a, .menu-mobile ul li .primary-button a:hover, .menu-mobile ul li .primary-button a:visited, .menu-mobile ul li .primary-button a:link {
  color: #365064;
  text-transform: uppercase;
}
.menu-mobile ul li .primary-button .expand {
  position: absolute;
  top: 27%;
  right: 5%;
  font-size: 32px;
  color: #365064;
  cursor: pointer;
  outline: 0;
  display: none;
}
.menu-mobile .mobile-sub-menu {
  width: 100%;
  overflow: hidden;
}
.menu-mobile .mobile-sub-menu ul {
  height: 0px;
  background-color: #fdfdfd;
  border-bottom: 0px;
}
.menu-mobile ul li.active .primary-button {
  background-color: #d22448;
}
.menu-mobile ul li.active .primary-button a, .menu-mobile ul li.active .primary-button a:hover, .menu-mobile ul li.active .primary-button a:visited, .menu-mobile ul li.active .primary-button a:link {
  color: #ffffff;
}
.menu-mobile ul li.active .primary-button .expand {
  color: #ffffff;
}
.menu-mobile ul li.active .mobile-sub-menu ul {
  height: auto;
  border-bottom: 1px solid #e3e3e3;
}
.menu-mobile ul li.active .mobile-sub-menu ul li {
  padding-top: 25px;
  padding-bottom: 25px;
}
.menu-mobile ul li.menu-item-has-children .primary-button .expand {
  display: block;
}
