#main-featured-widget {
  width: 100%;
}
#main-featured-widget .feature-me .widget {
  list-style-type: none;
}
#main-featured-widget .feature-me .featureme-thumb {
  width: 100%;
  height: auto;
}
#main-featured-widget .feature-me-link, #main-featured-widget .feature-me-link:active, #main-featured-widget .feature-me-link:hover, #main-featured-widget .feature-me-link:visited {
  font-family: "CondensedCopy";
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  #main-featured-widget .feature-me-link, #main-featured-widget .feature-me-link:active, #main-featured-widget .feature-me-link:hover, #main-featured-widget .feature-me-link:visited {
    font-size: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #main-featured-widget .feature-me-link, #main-featured-widget .feature-me-link:active, #main-featured-widget .feature-me-link:hover, #main-featured-widget .feature-me-link:visited {
    font-size: 45px;
  }
}
@media screen and (max-width: 767px) {
  #main-featured-widget .feature-me-link, #main-featured-widget .feature-me-link:active, #main-featured-widget .feature-me-link:hover, #main-featured-widget .feature-me-link:visited {
    font-size: 30px;
  }
}
#main-featured-widget .feature-me .widget-link {
  width: 100%;
  background-color: rgba(33, 38, 98, 0.9);
  position: relative;
}
@media screen and (min-width: 1024px) {
  #main-featured-widget .feature-me .widget-link {
    height: 200px;
    top: -203px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #main-featured-widget .feature-me .widget-link {
    height: 150px;
    top: -153px;
  }
}
@media screen and (max-width: 767px) {
  #main-featured-widget .feature-me .widget-link {
    height: 125px;
  }
}
#main-featured-widget .feature-me .widget-link .link-title {
  width: 83.5%;
  float: left;
}
@media screen and (min-width: 1024px) {
  #main-featured-widget .feature-me .widget-link .link-title {
    padding-top: 45px;
    padding-left: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #main-featured-widget .feature-me .widget-link .link-title {
    padding-top: 34px;
    padding-left: 38px;
  }
}
@media screen and (max-width: 767px) {
  #main-featured-widget .feature-me .widget-link .link-title {
    padding-top: 22px;
    padding-left: 25px;
    width: 82.5%;
  }
}
#main-featured-widget .feature-me .widget-link .arrow {
  width: 10%;
  float: left;
  height: 100%;
  background-image: url('../images/promo-arrow.png?1401310716');
  background-repeat: no-repeat;
  background-position: center;
}

#secondary-featured-widget {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  #secondary-featured-widget {
    margin-top: -20%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #secondary-featured-widget {
    margin-top: -17%;
  }
}
@media screen and (max-width: 767px) {
  #secondary-featured-widget {
    margin-top: 0%;
  }
}
#secondary-featured-widget article.feature-me {
  margin-top: 50px;
  width: 44%;
  height: 175px;
  background-color: #ffffff;
}
@media screen and (max-width: 1023px) {
  #secondary-featured-widget article.feature-me {
    width: 100%;
    height: auto;
  }
}
#secondary-featured-widget article.feature-me:first-child {
  margin-left: 4.7%;
  float: left;
}
@media screen and (max-width: 1023px) {
  #secondary-featured-widget article.feature-me:first-child {
    float: left;
    margin-left: 0%;
  }
}
#secondary-featured-widget article.feature-me:last-child {
  margin-right: 4.7%;
  float: right;
}
@media screen and (max-width: 1023px) {
  #secondary-featured-widget article.feature-me:last-child {
    float: left;
    margin-left: 0%;
  }
}
#secondary-featured-widget article.feature-me .widget {
  list-style-type: none;
  width: 87.7%;
  float: left;
  background-color: #ffffff;
}
#secondary-featured-widget article.feature-me .widget .widget-title {
  width: 100%;
  height: 65px;
}
#secondary-featured-widget article.feature-me .widget .widget-title a, #secondary-featured-widget article.feature-me .widget .widget-title a:hover, #secondary-featured-widget article.feature-me .widget .widget-title a:visited, #secondary-featured-widget article.feature-me .widget .widget-title a:link {
  display: block;
  width: 97%;
  padding-left: 3%;
  line-height: 300%;
  font-family: "CondensedCopy";
  color: #000000;
  text-decoration: none;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#secondary-featured-widget article.feature-me .widget .widget-details {
  width: 100%;
  height: 113px;
  background-color: #ffffff;
}
#secondary-featured-widget article.feature-me .widget .widget-details a {
  display: block;
  float: left;
  height: 113px;
  margin-right: 3%;
}
#secondary-featured-widget article.feature-me .widget .widget-details a img {
  width: 111px;
  height: 113px;
}
#secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt {
  height: 100%;
}
#secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a, #secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a:visited, #secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a:hover, #secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a:link {
  font-family: "BodyCopy";
  font-size: 15px;
  color: #000000;
  text-decoration: none;
  float: none;
}
@media screen and (max-width: 767px) and (min-width: 476px) {
  #secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a, #secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a:visited, #secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a:hover, #secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a:link {
    font-size: 13px;
  }
}
@media screen and (max-width: 475px) {
  #secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a, #secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a:visited, #secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a:hover, #secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a:link {
    font-size: 12px;
  }
}
#secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a p, #secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a:visited p, #secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a:hover p, #secondary-featured-widget article.feature-me .widget .widget-details .widget-excerpt a:link p {
  padding-right: 3%;
  line-height: 140%;
}
#secondary-featured-widget article.feature-me .arrow {
  width: 12.3%;
  height: 175px;
  background-color: #212662;
  float: left;
  padding-bottom: 3px;
  background-image: url('../images/promo-arrow.png?1401310716');
  -webkit-background-size: 23%;
  -moz-background-size: 23%;
  -o-background-size: 23%;
  background-size: 23%;
  background-repeat: no-repeat;
  background-position: center;
}
#secondary-featured-widget article.feature-me:last-child .arrow {
  background-color: #be1832;
}

#landing-widget .feature-me:nth-child(1) .widget .featured-icon {
  background-image: url('../images/featured-icon-1.png?1401393895');
}

#landing-widget .feature-me:nth-child(2) .widget .featured-icon {
  background-image: url('../images/featured-icon-2.png?1401393895');
}

#landing-widget .feature-me:nth-child(3) .widget .featured-icon {
  background-image: url('../images/featured-icon-3.png?1401393895');
}

#landing-widget .feature-me:nth-child(4) .widget .featured-icon {
  background-image: url('../images/featured-icon-4.png?1401393895');
}

#landing-widget .feature-me .widget {
  margin-top: 88px;
  list-style-type: none;
  margin-left: 3.9%;
  width: 200px;
  float: left;
}
@media screen and (max-width: 767px) {
  #landing-widget .feature-me .widget {
    width: 50%;
    margin-left: 25%;
  }
}
#landing-widget .feature-me .widget .featured-icon {
  margin: 0 auto 0 auto;
  width: 108px;
  height: 108px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#landing-widget .feature-me .widget .landing-widget-title a, #landing-widget .feature-me .widget .landing-widget-title a:hover, #landing-widget .feature-me .widget .landing-widget-title a:visited, #landing-widget .feature-me .widget .landing-widget-title a:link {
  font-family: "CondensedCopy";
  font-size: 34px;
  color: #212662;
  text-decoration: none;
  margin-top: 44px;
  line-height: 100%;
}
#landing-widget .feature-me .widget a, #landing-widget .feature-me .widget a:hover, #landing-widget .feature-me .widget a:visited, #landing-widget .feature-me .widget a:link {
  color: #212662;
  text-decoration: none;
  line-height: 150%;
}
#landing-widget .feature-me .widget a {
  display: block;
  font-size: 16px;
  font-family: "BodyCopy";
  text-align: center;
  width: 100%;
  margin-top: 15px;
}
