#indicators {
  position: fixed;
  top: 0;
  left: 0;
}
#indicators p {
  margin: 0 0 2px;
  padding: 0.25em 1em;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #000;
  display: none;
}

@media screen and (min-width: 1024px) {
  #indicators p {
    display: none;
  }
  #indicators p.l-show {
    display: block;
  }

  #header {
    padding-bottom: 32px;
  }

  #container {
    width: 1024px;
    margin: 50px auto 0 auto;
  }

  #slogan {
    float: left;
    font-size: 18px;
    padding-top: 70px;
    padding-left: 9px;
  }

  #logo {
    float: left;
    margin: 0 0 0 50px;
    width: 318px;
    height: 84px;
  }

  #contact-btn {
    float: right;
    margin: 0;
    padding-right: 33px;
    padding-top: 11px;
    padding-left: 15%;
    width: 171px;
    height: 42px;
  }
  #contact-btn a, #contact-btn a:hover, #contact-btn a:active, #contact-btn a:link, #contact-btn a:visited {
    font-size: 15px;
    line-height: 320%;
  }
  #contact-btn div {
    padding-right: 47px;
    margin-left: -47px;
  }

  #searchform {
    float: right;
    padding-right: 33px;
    padding-top: 8px;
    padding-left: 15%;
    margin: 0;
    width: 219px;
    height: 41px;
  }
  #searchform input#s {
    width: 160px;
    height: 34px;
    padding-left: 12px;
    font-size: 16px;
    padding-top: 6px;
  }
  #searchform input#searchsubmit {
    width: 46px;
    height: 41px;
  }

  #subheader {
    height: 70px;
  }

  .menu-main {
    display: block;
  }
  .menu-main #menu-default-navigation-menu li {
    padding-left: 3%;
    padding-right: 3%;
  }
  .menu-main #menu-default-navigation-menu li a, .menu-main #menu-default-navigation-menu li a:visited, .menu-main #menu-default-navigation-menu li a:link, .menu-main #menu-default-navigation-menu li a:active {
    font-size: 15px;
  }
  .menu-main #menu-default-navigation-menu li:last-child {
    padding-right: 3.3%;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
  }

  .menu-sub ul li.primary a, .menu-sub ul li.primary a:visited, .menu-sub ul li.primary a:hover, .menu-sub ul li.primary a:link {
    font-size: 24px;
  }
  .menu-sub ul li.primary li.secondary a, .menu-sub ul li.primary li.secondary a:visited, .menu-sub ul li.primary li.secondary a:hover, .menu-sub ul li.primary li.secondary a:link {
    font-size: 18px;
  }
  .menu-sub ul li.primary li.secondary a .sub, .menu-sub ul li.primary li.secondary a:visited .sub, .menu-sub ul li.primary li.secondary a:hover .sub, .menu-sub ul li.primary li.secondary a:link .sub {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #indicators p {
    display: none;
  }
  #indicators p.tl-show {
    display: block;
  }

  #header {
    padding-bottom: 20px;
  }

  #container {
    width: 96%;
    margin: 37px auto 0 auto;
  }

  #slogan {
    float: left;
    font-size: 13.5px;
    padding-top: 53px;
    padding-left: 9px;
  }

  #logo {
    float: left;
    margin: 0 0 0 25px;
    width: 239px;
    height: 63px;
  }

  #contact-btn {
    float: right;
    margin: 0;
    padding-right: 25px;
    padding-top: 0px;
    padding-left: 15%;
    width: 128px;
    height: 32px;
  }
  #contact-btn a, #contact-btn a:hover, #contact-btn a:active, #contact-btn a:link, #contact-btn a:visited {
    font-size: 12px;
    line-height: 300%;
  }
  #contact-btn div {
    padding-right: 35px;
    margin-left: -35px;
  }

  #searchform {
    float: right;
    padding-right: 25px;
    padding-top: 8px;
    padding-left: 15%;
    margin: 0;
    width: 163px;
    height: 30px;
  }
  #searchform input#s {
    width: 120px;
    height: 25px;
    padding-left: 9px;
    font-size: 12px;
    padding-top: 4px;
  }
  #searchform input#searchsubmit {
    width: 33px;
    height: 30px;
  }

  #subheader {
    height: 53px;
  }

  .menu-main {
    display: block;
  }
  .menu-main #menu-default-navigation-menu li {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .menu-main #menu-default-navigation-menu li a, .menu-main #menu-default-navigation-menu li a:visited, .menu-main #menu-default-navigation-menu li a:link, .menu-main #menu-default-navigation-menu li a:active {
    font-size: 12px;
  }
  .menu-main #menu-default-navigation-menu li:last-child {
    padding-right: 2.6%;
    float: left;
  }

  .menu-sub ul li.primary a, .menu-sub ul li.primary a:visited, .menu-sub ul li.primary a:hover, .menu-sub ul li.primary a:link {
    font-size: 18px;
  }
  .menu-sub ul li.primary li.secondary a, .menu-sub ul li.primary li.secondary a:visited, .menu-sub ul li.primary li.secondary a:hover, .menu-sub ul li.primary li.secondary a:link {
    font-size: 15px;
  }
  .menu-sub ul li.primary li.secondary a .sub, .menu-sub ul li.primary li.secondary a:visited .sub, .menu-sub ul li.primary li.secondary a:hover .sub, .menu-sub ul li.primary li.secondary a:link .sub {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  .menu-main {
    display: block;
  }
  .menu-main #menu-default-navigation-menu li {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .menu-main #menu-default-navigation-menu li a, .menu-main #menu-default-navigation-menu li a:visited, .menu-main #menu-default-navigation-menu li a:link, .menu-main #menu-default-navigation-menu li a:active {
    font-size: 10px;
  }
  .menu-main #menu-default-navigation-menu li:last-child {
    padding-right: 2.6%;
    float: left;
  }
}
@media screen and (max-width: 767px) {
  #indicators p {
    display: none;
  }
  #indicators p.hl-show {
    display: block;
  }

  #container {
    width: 90%;
    margin: 30px auto 0 auto;
  }

  #header {
    text-align: center;
    padding-bottom: 40px;
  }

  #logo {
    float: none;
    margin: 0 auto 0 auto;
    width: 252px;
    height: 67px;
  }

  #slogan {
    float: none;
    font-size: 12px;
    padding-top: 5px;
    padding-left: 53%;
  }

  #contact-btn {
    float: none;
    padding-right: 54px;
    padding-top: 40px;
    margin: 0 auto 0 auto;
    width: 180px;
    height: 48px;
  }
  #contact-btn a, #contact-btn a:hover, #contact-btn a:active, #contact-btn a:link, #contact-btn a:visited {
    font-size: 16px;
    line-height: 340%;
  }
  #contact-btn div {
    padding-right: 69px;
  }

  #searchform {
    float: none;
    padding-right: 0;
    padding-top: 40px;
    padding-left: 15px;
    margin: 0 auto 0 auto;
    width: 249px;
    height: 46px;
  }
  #searchform input#s {
    width: 183px;
    height: 39px;
    padding-left: 9px;
    font-size: 16px;
    padding-top: 6px;
  }
  #searchform input#searchsubmit {
    width: 56px;
    height: 46px;
  }

  #subheader {
    height: 10px;
  }

  .menu-main {
    display: none;
  }
}
