@import "compass";
@import "compass/css3";

$search-bg: #eeeeee;
$header-bg: #ffffff;
$slogan-color: #1D2875;
$nav-text-color: #365064;
$nav-hover-color: #d22448;
$nav-text-hover: #ffffff;

#header {
	background-color: $header-bg;
	padding-top: 42px;

	#slogan {
		color: $slogan-color;
		font-family: "BoldCopy";
	}

	#logo {
		
		@include background-image(image-url("datatrak-logo.svg"));
		@include background-size(cover);

		background: {
  			repeat: no-repeat;
  		};
	}

	#contact-btn {
		
		a,  a:hover,  a:active,  a:link,  a:visited {
			color: #ffffff;
			font-family: "BodyCopy";
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;
		}

		div {
			@include background-image(image-url("contact-btn.png"));
			@include background-size(cover);

			width: 100%;
			height: 100%;
		}
	}

	#searchform {

		input {
			display: inline;
			float: left;
		}

		input#s    {
			border: none;
			background-color: $search-bg;
			@include box-shadow(#e2e2e2 0 2px 0 0 inset);
			color: #000000;
			font-family: "BodyCopy";
			outline: 0;
		}

		input#searchsubmit {
		    border: 0px;

		    background: {
		    	repeat: no-repeat;
		    	position: 0 0;
		    	color: none;
		    }

		    @include background-image(image-url("search-submit-btn.png"));
		    @include background-size(cover);

		    cursor: pointer;
		    outline: 0;
		}
	}
}

#subheader {
	width: 100%;

	@include background-image(image-url("sub-page-header.png"));
	@include background-size(cover);

	background: {
			repeat: no-repeat;
	};
}

.menu-main {
	background-color: #fdfdfd;
	width: 100%;
	height: 70px;
	position: relative;
	z-index: 10;
	@include box-shadow(#e2e2e2 0px 4px 4px -2px);

	#menu-default-navigation-menu {
		width: 100%;

		li {
			float: left;
			height: 35px;
			padding-left: 2.6%;
			padding-right: 2.6%;
			margin-top: 14px;
			letter-spacing: 1px;
			padding-top: 21px;
				
			a, a:visited, a:link, a:active {
				color: $nav-text-color;
				font-family: "BoldCopy";
				text-decoration: none;
				text-transform: uppercase;
			}

			&.active {
				background-color: $nav-hover-color;

				a {
					color: $nav-text-hover;
				}
			}

			.active-arrow {
				padding-top:12px;
				margin-top: 19px;
				width: 100%;
				height: 20px;
				
				background: {
			    	repeat: no-repeat;
			    	position: 45% bottom;
			    	color: none;
			    }

			    @include background-image(image-url("menu-active-section-arrow.png"));

				display: none;
			}
		}

		li.hover {
			background-color: $nav-hover-color;

			a {
				color: $nav-text-hover;
			}

			.active-arrow {
				display: block;
			}
		}
	}

	.menu-sub {

		width: 98%;
		margin: 20px 1% 0 1%;

		ul {
			position: relative;
		}

		ul li.primary {
			display: none;

			//&:nth-child(2) {
			//	display: block;
			//}

			background-color: white;
			@include box-shadow(#e2e2e2 0px 10px 10px -5px);

			width: 100%;
			min-height: 225px;

			position: absolute;

			top: 12px;
			left: 0px;

			padding-top: 20px;
			padding-bottom: 50px;

			background: {
		    	repeat: no-repeat;
		    	position: right bottom;
		    	color: none;
		    }

			@include background-image(image-url("sub-menu-bg.png"));

			a, a:visited, a:hover, a:link {
				padding-left: 3.5%;
				color: #365064;
				font-family: "BoldCopy";
				text-decoration: none;
				text-transform: uppercase;
			}

			ul {
				width: 	100%;
				border-top: solid 1px #c0c0c0;
				margin-top: 21px;
			}

			li.secondary {

				display: inline-block;
				vertical-align: top;
				width: 	20%;
				padding-top: 31px;
				margin-left: 3.5%;
				padding-bottom: 18px;

				&:last-child {
					padding-right: 20%;
				}

				a, a:visited, a:hover, a:link {
					color: #d22448;
					font-family: "BoldCopy";
					text-decoration: none;
					display: block;
					padding-left: 0;

					.title {
						display: block;
						border-left: solid 3px #d22448;
						padding-left: 7px;
					}

					.sub {
						font-family: "BodyCopy";
						color: #212662;
						text-transform: none;
						padding-top: 23px;
						display: block;
					}
				}
			}

			&.open {
				display: block;
			}
		}
	}
}

.menu-mobile {

		width: 100%;
		text-align: center;
		border-top: 1px solid #e3e3e3;

		a, a:hover, a:visited, a:link {
			color: #212662;;
			text-decoration: none;
			font-family: "BoldCopy";
			font-size: 16px;
		}

		@media screen and (min-width: 769px) {
			display: none;
		}

		@media screen and (max-width: 768px) {
			display: block;
		}

		ul, ul li {
			width: 100%;
		}

		ul li .primary-button {

			a, a:hover, a:visited, a:link {
				color: #365064;
				text-transform: uppercase;
			}

			width: 100%;
			background-color: #fdfdfd;

			padding-bottom: 25px;
			padding-top: 25px;

			border-bottom: 1px solid #e3e3e3;

			position: relative;

			.expand {
				position: absolute;
				top: 27%;
				right: 5%;
				font-size: 32px;
				color: #365064;
				cursor: pointer;
		    	outline: 0;
		    	display: none;
			}
		}

		.mobile-sub-menu {
			width: 100%;
			overflow: hidden;

			ul {
				height: 0px;
				background-color: #fdfdfd;
				border-bottom: 0px;
			}
		}

		ul li.active {

			.primary-button {
				background-color: $nav-hover-color;

				a, a:hover, a:visited, a:link {
					color: #ffffff;
				}

				.expand {
					color: #ffffff;
				}
			}
			

			.mobile-sub-menu ul {
				height: auto;
				border-bottom: 1px solid #e3e3e3;

				li {
					padding-top: 25px;
					padding-bottom: 25px;
				}
			}
		}

		ul li.menu-item-has-children {
			.primary-button .expand {
				display: block;
			}
		}
	}