@import "compass";
@import "compass/css3";

#main-featured-widget {

	width: 100%;

	.feature-me .widget {
		list-style-type: none;
	}

	.feature-me .featureme-thumb{
	    width: 100%;
	    height: auto;
	}

	.feature-me-link, .feature-me-link:active, .feature-me-link:hover, .feature-me-link:visited {
		font-family: "CondensedCopy";
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;

		@media screen and (min-width: 1024px) {
			font-size: 60px;
		}

		@media screen and (min-width: 768px) and (max-width: 1023px) {
			font-size: 45px;
		}

		@media screen and (max-width: 767px) {
			font-size: 20px;
		}
	}

	.feature-me .widget-link {
		width: 100%;
		background-color: rgba(33, 38, 98, .9);
		position: relative;

		@media screen and (min-width: 1024px) {
			height: 200px;
			top: -203px;
		}

		@media screen and (min-width: 768px) and (max-width: 1023px) {
			height: 150px;
			top: -153px;
		}

		@media screen and (max-width: 767px) {
			height: 125px;
		}

		.link-title {
			width: 83.5%;
			float: left;

			@media screen and (min-width: 1024px) {
				padding-top: 45px;
				padding-left: 50px;
			}

			@media screen and (min-width: 768px) and (max-width: 1023px) {
				padding-top: 34px;
				padding-left: 38px;
			}

			@media screen and (max-width: 767px) {
				padding-top: 22px;
				padding-left: 25px;
				width: 75%;
			}
		}

		.arrow {
			width: 10%;
			float: left;
			height: 100%;

			@include background-image(image-url("promo-arrow.png"));

			background: {
  				repeat: no-repeat;
  				position: center;
  			};
		}
	}
}

#secondary-featured-widget {
	width: 100%;

	@media screen and (min-width: 1024px) {
		margin-top: -20%;
	}

	@media screen and (min-width: 768px) and (max-width: 1023px) {
		margin-top: -17%;
	}

	@media screen and (max-width: 767px) {
		margin-top: 0%;
	}

	article.feature-me {
		margin-top: 50px;
		width: 44%;
		height: 175px;
		background-color: #ffffff;

		@media screen and (max-width: 1023px) {
			width: 100%;
			height: auto;
		}

		&:first-child {
			margin-left: 4.7%;
			float: left;

			@media screen and (max-width: 1023px) {
				float: left;
				margin-left: 0%;
			}
		}

		&:last-child {
			margin-right: 4.7%;
			float: right;

			@media screen and (max-width: 1023px) {
				float: left;
				margin-left: 0%;
			}
		}

		.widget {
			list-style-type: none;

			width: 87.7%;
			float: left;
			background-color: #ffffff;

			.widget-title {
				width: 100%;
				height: 65px;

				a, a:hover, a:visited, a:link {
					display: block;
					width: 97%;
					padding-left: 3%;
					line-height: 300%;
					font-family: "CondensedCopy";
					color: #000000;
					text-decoration: none;
					font-size: 25px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.widget-details {
				width: 100%;
				height: 113px;
				background-color: #ffffff;

				a {
					display: block;
					float: left;
					height: 113px;
					margin-right: 3%;

					img {
						width: 111px;
						height: 113px;
					}
				}

				.widget-excerpt {
					height: 100%;

					a, a:visited, a:hover, a:link {
						font-family: "BodyCopy";
						font-size: 15px;

						@media screen and (max-width: 767px) and (min-width: 476px) {
							font-size: 13px;
						}

						@media screen and (max-width: 475px) {
							font-size: 12px;
						}
						color: #000000;
						text-decoration: none;
						float: none;

						p {
							padding-right:3%;
							line-height: 140%;
						}
					}
				}
			}
		}

		.arrow {
			width: 12.3%;
			height: 175px;
			background-color: #212662;
			float: left;
			padding-bottom: 3px;

			@include background-image(image-url("promo-arrow.png"));
			@include background-size(23%);

			background: {
  				repeat: no-repeat;
  				position: center;
  			};
		}
	}

	article.feature-me:last-child .arrow {
			background-color: #be1832;
	}
}

#landing-widget .feature-me:nth-child(1) .widget .featured-icon {
	@include background-image(image-url("featured-icon-1.png"));
}

#landing-widget .feature-me:nth-child(2) .widget .featured-icon {
	@include background-image(image-url("featured-icon-2.png"));
}

#landing-widget .feature-me:nth-child(3) .widget .featured-icon {
	@include background-image(image-url("featured-icon-3.png"));
}

#landing-widget .feature-me:nth-child(4) .widget .featured-icon {
	@include background-image(image-url("featured-icon-4.png"));
}

#landing-widget {

	.feature-me {

		.widget {
			margin-top: 88px;
			list-style-type: none;
			margin-left: 3.9%;
			width: 200px;
			float: left;

			@media screen and (max-width: 767px) {
				width: 50%;
				margin-left: 25%;
			}

			.featured-icon {
				margin: 0 auto 0 auto;
				width: 108px;
				height: 108px;

				@include background-size(cover);

				background: {
	  				repeat: no-repeat;
	  				position: center;
	  			};
			}

			.landing-widget-title {

				a, a:hover, a:visited, a:link {
					font-family: "CondensedCopy";
					font-size: 34px;
					color: #212662;
					text-decoration: none;
					margin-top: 44px;
					line-height: 100%;
				}
			}

			a, a:hover, a:visited, a:link {
					
					color: #212662;
					text-decoration: none;
					line-height: 150%;
			}

			a {
				display: block;
				font-size: 16px;
				font-family: "BodyCopy";
				text-align: center;
				width: 100%;
				margin-top: 15px;
			}
		}
	}
}