@import "compass";
@import "compass/css3";

#page {
	width: 100%;
	background-color: #ffffff;

	a,  a:hover,  a:active,  a:link,  a:visited {
		color: #be1832;
		font-family: "BodyCopy";
		text-decoration: none;
		display: block;
	}

	.copy {

		padding-top: 56px;

		@media screen and (max-width: 767px) {
			padding-top: 28px;
		}

		float: left;

		&.full {
			width: 100%;
		}

		&.partial {
			width: 74%;

			border-right: solid 1px #d3d3d3;

			@media screen and (max-width: 767px) {
				width: 100%;
				border-right: none;
			}
		}

		.page-copy {
			width: 70.7%;
			margin-left: 3%;

			@media screen and (max-width: 767px) {
				width: 94%;
			}
		}

		.page-title {

			h2 {
				color: #000000;
				font-family: "ThinCopy";
				font-weight: bold;
				font-size: 67px;

				@media screen and (max-width: 767px) {
					font-size: 34px;
				}
			}

			padding-bottom: 20px;

			@media screen and (max-width: 767px) {
				padding-bottom: 14px;
			}
			
		}

		.page-subtitle {

			h4 {
				color: #000000;
				font-family: "ThinCopy";
				font-size: 36px;

				@media screen and (max-width: 767px) {
					font-size: 18px;
				}
			}

			padding-bottom: 20px;

			@media screen and (max-width: 767px) {
				padding-bottom: 5px;
			}
		}

		.page-content {
			width: 97%;
			padding-left: 3%;
			overflow: hidden;
			padding-top: 10px;
			padding-bottom: 60px;

			@media screen and (max-width: 767px) {
				padding-bottom: 20px;
				padding-top: 0px;
			}

			p {
				font-family: "ThinCopy";
				font-size: 15px;
				color: #000000;
				width: 73%;
				padding-top: 30px;
				line-height: 170%;

				@media screen and (max-width: 1023px) {
					width: 97%;
				}
			}

			p img {
				margin-left: -4.1%;
				width: auto;

				@media screen and (max-width: 1023px) {
					width: 100%;
					height: auto;
				}

				@media screen and (max-width: 767px) {
					padding-bottom: 20px;
					width: 100%;
					height: auto;
				}
			}

			p strong {
				font-family: "BodyCopy";
				font-weight: bold;
			}

			p em {
				font-style: italic;
			}

			ul {
				list-style-type: disc;
				padding-top: 30px;
			}

			ol {
				list-style-type: decimal;
				padding-top: 30px;
			}

			ul li, ol li {
				margin-left: 1.8%;
				font-family: "ThinCopy";
				font-size: 15px;
				color: #000000;
				width: 70%;
				line-height: 170%;

				@media screen and (max-width: 767px) {
					margin-left: 4.8%;
				}

				ul, ol {
					padding-top: 10px;

					li {
						margin-left: 10.8%;
						width: 90%;
					}
				}

			}
		}
	}

	.sidebar {
		width: 25.8%;
		float: left;

		@media screen and (max-width: 767px) {
			width: 100%;
			padding-top: 28px;
		}

		.sidebar-social {
			border-bottom: solid 1px #d3d3d3;
			padding-top: 45px;
			padding-bottom: 36px;


			.cnss_sidebar-social-icon{
				margin: 0 auto 0 auto !important;

				tbody tr td {

					padding-left: 12px !important;

					@media screen and (max-width: 767px) {
						padding-left: 0 !important;
					}
				}
			}
		}

		.cta {
			width: 100%;
			border-bottom: solid 1px #d3d3d3;
			padding-top: 19px;
			padding-bottom: 35px;

			@media screen and (max-width: 767px) {
				padding-top: 50px;
			padding-bottom: 60px;
			}

			&:last-child {
				border-bottom: none;
			}

			a, a:visited, a:hover, a:link {
				color: #ffffff;
				font-family: "BodyCopy";
				font-size: 15px;

				.cta-btn.third {
					color: #1d2a79;;
				}
			}

			.cta-btn {
				width: 85.2%;
				margin-left: 7%;

				background: {
		  			repeat: no-repeat;
		  			position: 92% 50%;
		  		};

				&.first {
					background-color: #c51a27;

					@include background-image(image-url("sidebar-cta-arrow-first.png"));
				}

				&.second {
					background-color: #1d2a79;

					@include background-image(image-url("sidebar-cta-arrow-second.png"));
				}

				&.third {
					background-color: #eeeeee;

					@include background-image(image-url("sidebar-cta-arrow-third.png"));
				}

				h4 {
					width: 76%;
					padding-left: 7.8%;
					padding-top: 24px;
					padding-bottom: 19px;
				}

				@media screen and (max-width: 767px) {
					margin: 0 auto 0 auto;
					width: 70%;
				}
			}

			h6 {
				width: 85.2%;
				color: #1d2a79;
				font-size: 15px;
				font-family: "BodyCopy";
				margin-left: 7%;
				padding-top: 16px;
				line-height: 140%;

				@media screen and (max-width: 767px) {
					margin: 0 auto 0 auto;
					width: 70%;
					text-align: center;
				}
			}
		}
	}
}